:root{
  --text-size: 14rem;
  --box-price-size: 500px;
}

.containerMaster{
  height: 300vh;
  position: relative;

  padding-top: 4rem;
}

.containerMaster > div{
  position: sticky;
  top: 0;
}

.containerFixed{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titlePrice{
  text-align: center;
}
  
.titleList{
  height: calc(var(--text-size) * 0.86);
  overflow-y: hidden;

  position: relative;
  top: calc(var(--text-size) * 0.15);
}

.titleList > div{
  position: relative;
}

.titlePrice p{
  font-size: 3rem;
  text-transform: uppercase;
}

.titlePrice span{
  color: var(--color2);
}

.titlePrice h1{
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 0.86;
  text-transform: uppercase;
}

.containerPrices{
  display: flex;
  justify-content: center;
  gap: 8%;

  width: 100%;
}

.offerHidden{
  overflow: hidden;
  height: var(--box-price-size);
  width: var(--box-price-size);
}

.offerHidden > div{
  position: relative;
}

.valuePrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

.valuePrice > div {
  border: 1px solid var(--color5);
  width: 150px;
}

.valuePrice h3, .containerValue{
  padding: 0.5rem;
}

.valuePrice h3{
  border-bottom: 1px solid var(--color5);
  color: var(--color2);

  font-weight: 500;
}

.valuePrice p{
  font-weight: 400;
  font-size: 1rem;
}

.valueFixed{
  height: 25px;
  overflow-y: hidden;
}

.valueFixed > div{
  position: relative;
  top: 0%;
}

.containerPrices > div{
  position: relative;
}

.boxPrice{
  background-size: cover;

  padding: 1rem;

  background-color: var(--color2);
  height: var(--box-price-size);
  width: var(--box-price-size);

  display: flex;
  align-items: center;
}

.listOffer{
  list-style: none;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listOffer > li{
  display: flex;
  gap: 1rem;
}

.containerToggle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton{
  display: flex;
  justify-content: center;
  gap: 1rem;

  text-transform: uppercase;
  font-weight: 500;
}

.toggleButton > div:nth-child(3){
  display: flex;
  align-items: end;
}

.toggleButton p{
  transition: color 0.5s ease;
}

.toggleButton p.active{
  color: var(--color2);
}

.toggle{
  height: 3rem;
  width: 20px;
  border-radius: 2rem;
  cursor: pointer;

  background-color: var(--color2);
}

.toggle::after{
  content: '';
  display: block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--color1);

  position: relative;
  top: 3%;
  left: 1px;

  transition: top 0.5s ease;
}

.toggle.active:after{
  top: 58%;
}

@media (max-width: 1680px){ 
  :root{
    --box-price-size: 30vw;
  }

  .listOffer{
    font-size: 1.4vw;
    gap: 1vw;
  }

  .listOffer svg{
    width: 2vw;
  }
}

@media (max-width: 1023px){ 
  :root{
    --text-size: 8rem;
    --box-price-size: 400px;
  }

  
  .containerMaster{
    padding-top: 2rem;
  }
  
  .titlePrice p{
    font-size: 2rem;
  }

  .listOffer{
    font-size: 1rem;
  }

  .containerPrices{
    flex-wrap: wrap;
    gap: 0;
  }

  .offerHidden{
    display: flex;
    justify-content: center;
  }

  .containerPrices > div:nth-child(2){
    order: 1;
    width: 100%;
  }

  .valuePrice, .containerToggle{
    padding-top: 2rem;
    width: 50%;
  }

  .valuePrice{
    order: 2;
  }
  .containerToggle{
    order: 3;
  }
}

@media (max-width: 600px){ 
  :root{
    --text-size: 21.8vw;
    --box-price-size: 70vw;
  }

  .titlePrice p{
    font-size: 5vw;
  }

  .listOffer{
    font-size: 3vw;
    gap: 1vw;
  }

  .listOffer svg{
    width: 4vw;
  }

  .valuePrice > div{
    text-align: center;
  }

  .valuePrice, .containerToggle{
    padding-top: 1rem;
    width: 100%;
  }
}