:root{
  --text-size: 15rem;
}

.containerMaster{
  height: 300vh;
  position: relative;
}

.containerFixed{
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.titlePrice{
  text-align: center;
  padding-top: 4rem;
}
  
.titleList{
  height: calc(var(--text-size) * 0.86);
  overflow-y: hidden;

  position: relative;
  top: 2rem;
}

.titleList > div{
  position: relative;
}

.titlePrice p{
  font-size: 3rem;
  text-transform: uppercase;
}

.titlePrice span{
  color: var(--color2);
}

.titlePrice h1{
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 0.86;
  text-transform: uppercase;
}

.containerPrices{
  overflow: hidden;
  height: 500px;

  display: flex;
  justify-content: center;

  width: 100%;
}

.valuePrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  width: 100%;
}

.valuePrice > div {
  border: 1px solid var(--color5);
  width: 150px;
}

.valuePrice h3, .valuePrice p{
  padding: 0.5rem;
}

.valuePrice h3{
  border-bottom: 1px solid var(--color5);
  color: var(--color2);

  font-weight: 500;
}

.valuePrice p{
  font-weight: 400;
}

.containerPrices > div{
  position: relative;
}

.boxPrice{
  background-size: cover;

  padding: 1rem;

  background-color: var(--color2);
  height: 500px;
  width: 500px;

  display: flex;
  align-items: center;
}

.listOffer{
  list-style: none;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listOffer > li{
  display: flex;
  gap: 1rem;
}

.toggleButton{
  width: 100%;
}

@media (max-width: 1680px){  

}