.containerMaster{
  background-color: var(--color3);
  padding: 0 2rem;
  padding-bottom: 6rem;
}

.containerMaster > div{
  position: relative;
}

.containerContent{
  position: relative;

  display: flex;
  height: 100%;

  flex-direction: column;
  justify-content: space-between;

  gap: 2rem;
}

.containerDescription{
  width: 50%;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-right: 2rem;
  height: 280px;
}

.containerDescription h1{
  font-size: 1.2rem;
  font-weight: 400;
}

.color{
  color: var(--color2);
}

.containerDescription p{
  font-size: 1.5rem;
}

.containerList{
  width: 100%;
}

.listClasses{
  list-style: none;
  font-size: 4rem;

  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  cursor: pointer;
}

.listClasses li{
  border-bottom: 1px solid var(--color5);

  transition: color 0.3s ease, border 0.3s ease;
}

.listClasses li:hover{
  color: var(--color2);
  border-bottom: 1px solid var(--color2);
}

.containerImage{
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
}

.boxImage{
  height: 100%;
  max-width: 38%;

  position: absolute;  
  right: 0;
  overflow: hidden;
  }

.boxImage img{
  position: relative;
  height: 130%;
  
  right: 0;
}

@media (max-width: 1680px) {
  .containerDescription{
    height: 18vw;
    gap: 3.8vw;
  }
  
  .boxImage{
    max-width: 40vw;
  }

  .containerDescription p{
    font-size: 1.3vw;
  }

  .listClasses{
    font-size: 3.8vw;
  }
}

