.containerMaster{
  padding: 4vw 0;
}
.containerMaster > div:nth-child(odd){
  color: var(--color2);
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.9;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  cursor: default;

  font-size: 8vw;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 2vw;
}
