.containerMaster{
  overflow: hidden;
}

.containerRef{
  height: 110vh;
  position: relative;
}

.containerHigher{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100vh;
}

.boxLogoHeader div:nth-child(1){
  margin-right: 15vw;
}

.boxLogoHeader div:nth-child(2){
  margin-left: 15vw;
}

.containerText{
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  z-index: 1;
}

.containerText p{
  font-size: 10vw;
  font-weight: 700;
  line-height: 11vw;
  text-transform: uppercase;

  transition: transform 0.4s, opacity 0.4s;
}

.containerText.second{
  color: var(--color2);
}

.containerText .secondary{
  transform: rotateX(-90deg) translateY(5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  opacity: 0;

  color: var(--color2);
}

.containerText.second .secondary{
  color: var(--color5);
}

.containerText:hover{
  transform: rotateX(90deg);
}

.containerText:hover .secondary{
  opacity: 1;
}

.containerText:hover .primary{
  transform: translateY(-100%);
  opacity: 0;
}

.boxImageHeader img{
  filter: grayscale(50%);

  position: absolute;
  height: 90%;
  max-width: max-content;
  width: 100%;
  bottom: 0;
  
  left: 50%;
  transform: translate(-50%);
  object-fit: cover;
}

@media (max-width: 1000px){

}
