.containerMaster{
  overflow: hidden;
}

.containerRef{
  height: 110vh;
  position: relative;
}

.containerHigher{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100vh;
}

.boxLogoHeader{
  font-size: 10vw;
  font-weight: 700;
  line-height: 11vw;
  text-transform: uppercase;
}

.boxLogoHeader p:nth-child(1){
  margin-right: 15vw;
}

.boxLogoHeader p:nth-child(2){
  margin-left: 15vw;
  color: var(--color2);
}

.boxImageHeader img{
  filter: grayscale(50%);

  position: absolute;
  height: 90%;
  max-width: max-content;
  width: 100%;
  bottom: 0;
  
  left: 50%;
  transform: translate(-50%);
  object-fit: cover;
}

