.containerMenu{
  display: flex;
  gap: 0.5rem;

  align-items: center;
  cursor: pointer;
}

.containerIconMenu{
  flex-direction: column;
  align-items: center;

  width: 25px;
  height: 25px;

  z-index: 2;
  
  position: relative;
  transition: .5s ease-in-out;
}

.containerIconMenu span{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--color5);

  transition: .25s ease-in-out;

  left: 50%;
  transform: translate(-50%, -50%);
}

.containerIconMenu span:nth-child(1){
  top: 30%;
}

.containerIconMenu span:nth-child(2){
  top: 70%;
}

.containerIconMenu.open span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.containerIconMenu.open span:nth-child(2){
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.containerTextMenu{
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

.containerTextMenu > p{
  transition: opacity 0.5s ease;
}

.containerTextMenu > p:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.containerTextMenu.open > p:nth-child(2){
  opacity: 1;
}

.containerTextMenu.open > p:nth-child(1){
  opacity: 0;
}

